<!--formateur popup-->
<div *ngIf="popupFormateur" class="w-full h-screen bg-black fixed left-0 top-0 z-50 bg-opacity-70">
  <div id=""
       class=" overflow-x-hidden overflow-y-auto  h-modal md:h-full inset-0 z-50 flex justify-center items-center">
    <div class="w-full max-w-4xl px-4 h-full md:h-auto">
      <!-- Modal content -->
      <div class="bg-white rounded-lg shadow relative ">
        <div class="flex justify-end p-2">
          <button type="button" (click)="closePopUpFormateur()"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center "
                  data-modal-toggle="authentication-modal">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <form class="space-y-6 px-6 lg:px-8 pb-4 sm:pb-6 xl:pb-8" action="#">
          <h3 *ngIf="!updateFormateurStatus" class="text-xl font-medium text-gray-900">Create Formateur</h3>
          <h3 *ngIf="updateFormateurStatus" class="text-xl font-medium text-gray-900">Update Formateur</h3>
          <div class="flex gap-3">
            <div class="w-1/2">
              <label for="firstName" class="text-sm font-medium text-gray-900 block mb-2 ">
                first Name</label>
              <input [(ngModel)]="formateurData.firstName" type="text" name="firstName" id="firstName"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="firstName.." required="">
            </div>
            <div class="w-1/2">
              <label for="lastName" class="text-sm font-medium text-gray-900 block mb-2 ">
                last Name</label>
              <input [(ngModel)]="formateurData.lastName" type="text" name="lastName" id="lastName"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="lastName.." required="">
            </div>
          </div>
          <div class="flex gap-3">
            <div class="w-1/2">
              <label for="email" class="text-sm font-medium text-gray-900 block mb-2 ">
                email</label>
              <input [(ngModel)]="formateurData.email" type="email" name="email" id="email"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="email.." required="">
            </div>
            <div class="w-1/2">
              <label for="promo" class="text-sm font-medium text-gray-900 block mb-2 ">
                promo</label>
              <select *ngIf="!updateFormateurStatus" name="promo" [(ngModel)]="formateurData.promo_id"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option value="0" disabled [selected]="formateurData.promo_id == null">Select Promo</option>
                <option *ngFor="let promo of promos" [value]="promo.id">{{promo.name}}</option>
              </select>
              <select *ngIf="updateFormateurStatus" name="promo" [(ngModel)]="formateurData.promo_id"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option value="0" disabled [selected]="formateurData.promo_id == null">Select Promo</option>
                <option *ngFor="let promo of promos" [value]="promo.id"
                        [selected]="promo.id == formateurData.promo_id">{{promo.name}}</option>
              </select>
            </div>
          </div>
          <div>
            <label for="password" class="text-sm font-medium text-gray-900 block mb-2 ">
              password</label>
            <input [(ngModel)]="formateurData.password" type="password" name="password" id="password"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="password.." required="">
          </div>
          <div>
            <label for="phone" class="text-sm font-medium text-gray-900 block mb-2 ">
              phone</label>
            <input [(ngModel)]="formateurData.phone" type="number" name="phone" id="phone"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="phone.." required="">
          </div>
          <div>
            <label for="address" class="text-sm font-medium text-gray-900 block mb-2 ">
              address</label>
            <input [(ngModel)]="formateurData.address" type="text" name="address" id="address"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="address.." required="">
          </div>
          <div class="flex gap-3">
            <div class="w-1/2">
              <label for="city" class="text-sm font-medium text-gray-900 block mb-2 ">
                city</label>
              <input [(ngModel)]="formateurData.city" type="text" name="city" id="city"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="city.." required="">
            </div>
            <div class="w-1/2">
              <label for="state" class="text-sm font-medium text-gray-900 block mb-2 ">
                state</label>
              <input [(ngModel)]="formateurData.state" type="text" name="state" id="state"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="state.." required="">
            </div>
          </div>
          <div class="flex gap-3">
            <div class="w-1/2">
              <label for="zip" class="text-sm font-medium text-gray-900 block mb-2 ">
                zip</label>
              <input [(ngModel)]="formateurData.zip" type="number" name="zip" id="zip"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="zip.." required="">
            </div>
            <div class="w-1/2">
              <label for="country" class="text-sm font-medium text-gray-900 block mb-2 ">
                country</label>
              <input [(ngModel)]="formateurData.country" type="text" name="country" id="country"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="country.." required="">
            </div>
          </div>

          <button *ngIf="!updateFormateurStatus" (click)="addFormateur()" type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
            Add School
          </button>
          <button *ngIf="updateFormateurStatus" (click)="updateFormateur()" type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--student popup-->
<div *ngIf="popupStudent" class="w-full h-screen bg-black fixed left-0 top-0 z-50 bg-opacity-70">
  <div class=" overflow-x-hidden overflow-y-auto  h-modal md:h-full inset-0 z-50 flex justify-center items-center">
    <div class="w-full max-w-4xl px-4 h-full md:h-auto">
      <!-- Modal content -->
      <div class="bg-white rounded-lg shadow relative ">
        <div class="flex justify-end p-2">
          <button type="button" (click)="closePopUpStudent()"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center "
                  data-modal-toggle="authentication-modal">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <form class="space-y-6 px-6 lg:px-8 pb-4 sm:pb-6 xl:pb-8" action="#">
          <h3 *ngIf="!updateStudentStatus" class="text-xl font-medium text-gray-900">Create Student</h3>
          <h3 *ngIf="updateStudentStatus" class="text-xl font-medium text-gray-900">Update Student</h3>
          <div class="flex gap-3">
            <div class="w-1/2">
              <label for="firstName" class="text-sm font-medium text-gray-900 block mb-2 ">
                first Name</label>
              <input [(ngModel)]="studentData.firstName" type="text" name="firstName" id="firstName"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="firstName.." required="">
            </div>
            <div class="w-1/2">
              <label for="lastName" class="text-sm font-medium text-gray-900 block mb-2 ">
                last Name</label>
              <input [(ngModel)]="studentData.lastName" type="text" name="lastName" id="lastName"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="lastName.." required="">
            </div>
          </div>
          <div class="flex gap-3">
            <div class="w-1/2">
              <label for="email" class="text-sm font-medium text-gray-900 block mb-2 ">
                email</label>
              <input [(ngModel)]="studentData.email" type="email" name="email" id="email"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="email.." required="">
            </div>
            <div class="w-1/2">
              <label for="promo" class="text-sm font-medium text-gray-900 block mb-2 ">
                promo</label>
              <select *ngIf="!updateStudentStatus" name="promo" [(ngModel)]="studentData.promo_id"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option value="0" disabled [selected]="studentData.promo_id == null">Select Promo</option>
                <option *ngFor="let promo of promos" [value]="promo.id">{{promo.name}}</option>
              </select>
              <select *ngIf="updateStudentStatus" name="promo" [(ngModel)]="studentData.promo_id"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option value="0" disabled [selected]="studentData.promo_id == null">Select Promo</option>
                <option *ngFor="let promo of promos" [value]="promo.id"
                        [selected]="promo.id == studentData.promo_id">{{promo.name}}</option>
              </select>
            </div>
          </div>
          <div>
            <label for="password" class="text-sm font-medium text-gray-900 block mb-2 ">
              password</label>
            <input [(ngModel)]="studentData.password" type="password" name="password" id="password"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="password.." required="">
          </div>
          <div>
            <label for="phone" class="text-sm font-medium text-gray-900 block mb-2 ">
              phone</label>
            <input [(ngModel)]="studentData.phone" type="number" name="phone" id="phone"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="phone.." required="">
          </div>
          <div>
            <label for="address" class="text-sm font-medium text-gray-900 block mb-2 ">
              address</label>
            <input [(ngModel)]="studentData.address" type="text" name="address" id="address"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="address.." required="">
          </div>
          <div class="flex gap-3">
            <div class="w-1/2">
              <label for="city" class="text-sm font-medium text-gray-900 block mb-2 ">
                city</label>
              <input [(ngModel)]="studentData.city" type="text" name="city" id="city"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="city.." required="">
            </div>
            <div class="w-1/2">
              <label for="state" class="text-sm font-medium text-gray-900 block mb-2 ">
                state</label>
              <input [(ngModel)]="studentData.state" type="text" name="state" id="state"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="state.." required="">
            </div>
          </div>
          <div class="flex gap-3">
            <div class="w-1/2">
              <label for="zip" class="text-sm font-medium text-gray-900 block mb-2 ">
                zip</label>
              <input [(ngModel)]="studentData.zip" type="number" name="zip" id="zip"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="zip.." required="">
            </div>
            <div class="w-1/2">
              <label for="country" class="text-sm font-medium text-gray-900 block mb-2 ">
                country</label>
              <input [(ngModel)]="studentData.country" type="text" name="country" id="country"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="country.." required="">
            </div>
          </div>

          <button *ngIf="!updateStudentStatus" (click)="addStudent()" type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
            Add
          </button>
          <button *ngIf="updateStudentStatus" (click)="updateStudent()" type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--promo popup-->
<div *ngIf="popupPromo" class="w-full h-screen bg-black fixed left-0 top-0 z-50 bg-opacity-70">
  <div class=" overflow-x-hidden overflow-y-auto  h-modal md:h-full inset-0 z-50 flex justify-center items-center">
    <div class="w-full max-w-4xl px-4 h-full md:h-auto">
      <!-- Modal content -->
      <div class="bg-white rounded-lg shadow relative ">
        <div class="flex justify-end p-2">
          <button type="button" (click)="closePopUpPromo()"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center "
                  data-modal-toggle="authentication-modal">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <form class="space-y-6 px-6 lg:px-8 pb-4 sm:pb-6 xl:pb-8" action="#">
          <h3 *ngIf="!updatePromoStatus" class="text-xl font-medium text-gray-900">Create Promo</h3>
          <h3 *ngIf="updatePromoStatus" class="text-xl font-medium text-gray-900">Update Promo</h3>

          <div>
            <label for="name" class="text-sm font-medium text-gray-900 block mb-2 ">
              name</label>
            <input [(ngModel)]="promoData.name" type="text" name="name" id="name"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="name.." required="">
          </div>

          <div>
            <label for="year" class="text-sm font-medium text-gray-900 block mb-2 ">
              year</label>
            <input [(ngModel)]="promoData.year" type="number" name="year" id="year"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="year.." required="">
          </div>


          <button *ngIf="!updatePromoStatus" (click)="addPromo()" type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
            Add School
          </button>
          <button *ngIf="updatePromoStatus" (click)="updatePromo()" type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- component -->
<div class="w-full h-screen flex flex-no-wrap">
  <!-- Sidebar starts -->
  <div style="min-height: 716px"
       class="w-64 absolute sm:relative bg-gray-800 shadow md:h-full flex-col justify-between hidden sm:flex">
    <div class="px-8">
      <div class="h-16 w-full flex items-center">
        <h1 class="text-3xl font-semibold pt-6 text-gray-800 md:text-4xl"><span class="text-white">EduCode</span></h1>
      </div>
      <ul class="mt-12">
        <li class="flex w-full justify-between text-gray-300 cursor-pointer items-center mb-6">
          <a routerLink="/" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <rect x="4" y="4" width="15" height="15" rx="1"></rect>
            </svg>
            <span class="text-sm ml-2">Home</span>
          </a>
          <!--              <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">5</div>-->
        </li>
        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
          <button (click)="scroll(formateurTable)" class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <rect x="4" y="4" width="6" height="6" rx="1"></rect>
              <rect x="14" y="4" width="6" height="6" rx="1"></rect>
              <rect x="4" y="14" width="6" height="6" rx="1"></rect>
              <rect x="14" y="14" width="6" height="6" rx="1"></rect>
            </svg>
            <span class="text-sm ml-2">Formateurs</span>
          </button>
          <!--              <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">8</div>-->
        </li>
        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
          <button (click)="scroll(studentTable)" class="flex items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <rect x="4" y="4" width="6" height="6" rx="1"></rect>
              <rect x="14" y="4" width="6" height="6" rx="1"></rect>
              <rect x="4" y="14" width="6" height="6" rx="1"></rect>
              <rect x="14" y="14" width="6" height="6" rx="1"></rect>
            </svg>
            <span class="text-sm ml-2">Students</span>
          </button>
          <!--              <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">8</div>-->
        </li>
        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
          <button (click)="scroll(promoTable)" href="#promoTable" class="flex items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <rect x="4" y="4" width="6" height="6" rx="1"></rect>
              <rect x="14" y="4" width="6" height="6" rx="1"></rect>
              <rect x="4" y="14" width="6" height="6" rx="1"></rect>
              <rect x="14" y="14" width="6" height="6" rx="1"></rect>
            </svg>
            <span class="text-sm ml-2">Promos</span>
          </button>
          <!--              <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">8</div>-->
        </li>
        <!--Formateur-->
        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
          <!--             button add school-->
          <button (click)="openFormateurPopUp()"
                  class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            <span class="text-sm ml-2">Add formateur</span>
          </button>
        </li>
        <!--student-->
        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
          <!--             button add school-->
          <button (click)="openStudentPopUp()"
                  class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            <span class="text-sm ml-2">Add student</span>
          </button>
        </li>
        <!--promo-->
        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
          <!--             button add school-->
          <button (click)="openPromoPopUp()" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            <span class="text-sm ml-2">Add promo</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="px-8 border-t border-gray-700">
      <ul class="w-full flex items-center justify-between bg-gray-800">
        <!--button logout-->
        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center my-6">
          <button (click)="logout()" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
              <path d="M16 4v7a4 4 0 0 1 -4 4h-4"></path>
            </svg>
            <span class="text-sm ml-2">Logout</span>
          </button>
        </li>

      </ul>
    </div>

  </div>
  <!-- Sidebar ends -->

  <div class="bg-gray-200 py-10 w-full h-full px-10 overflow-y-auto">
    <div class="w-full h-full rounded">
      <div class="min-h-screen py-5">
        <!--formateur table start-->
        <section #formateurTable class="min-h-[90vh] p-6">
          <div class="flex justify-center pb-8 ">
            <div class="w-full bg-white p-6 rounded-lg flex justify-between items-center">
              <h1 class="text-2xl font-medium mb-1">Formateurs</h1>
              <div class="flex justify-between">
                <div class="flex">
                  <div class="relative">
                    <input [(ngModel)]="searchForFormateur" (ngModelChange)="searchFormateur()" type="text"
                           class="w-64 px-4 py-2 rounded-lg border-2 border-gray-200 focus:outline-none"
                           placeholder="Search">
                    <div class="absolute top-0 right-0 mt-3 mr-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                           width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                           fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <circle cx="10" cy="10" r="7"></circle>
                        <line x1="21" y1="21" x2="15" y2="15"></line>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='overflow-x-auto w-full'>
            <table
              class='w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden'>
              <thead class="bg-gray-900">
              <tr class="text-white text-left">
                <th class="font-semibold text-sm uppercase px-6 py-4"> First Name</th>
                <th class="font-semibold text-sm uppercase px-6 py-4"> Last Name</th>
                <th class="font-semibold text-sm uppercase px-6 py-4"> Email</th>
                <th class="font-semibold text-sm uppercase px-6 py-4"> Promo</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Phone</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Address</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> City</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> State</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Zip</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Country</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"></th>
                <th class="font-semibold text-sm uppercase px-6 py-4"></th>
              </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
              <tr *ngFor="let formateur of formateurs">
                <td class="px-6 py-4">
                  <div class="flex items-center space-x-3">
                    <p class="text-gray-500 text-sm font-semibold tracking-wide"> {{formateur.firstName}} </p>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex items-center space-x-3">
                    <p class="text-gray-500 text-sm font-semibold tracking-wide"> {{formateur.lastName}} </p>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <p class=""> {{formateur.email}} </p>
                </td>
                <td class="px-6 py-4">
                  <ng-container *ngFor="let promo of promos">
                    <p *ngIf="promo.id == formateur.promo_id">{{promo.name}}</p>
                  </ng-container>
                  <p *ngIf="formateur.promo_id == null">Not Assigned</p>
                </td>
                <td class="px-6 py-4 text-center"><span
                  class=""> {{formateur.phone}} </span>
                </td>
                <td class="px-6 py-4 text-center"> {{formateur.address}}</td>
                <td class="px-6 py-4 text-center"> {{formateur.city}}</td>
                <td class="px-6 py-4 text-center"> {{formateur.state}}</td>
                <td class="px-6 py-4 text-center"> {{formateur.zip}}</td>
                <td class="px-6 py-4 text-center"> {{formateur.country}}</td>
                <td class="px-6 py-4 justify-center items-center flex gap-4">
                  <a (click)="prepareUpdateFormateur(formateur.id)" class="text-purple-800 hover:underline">Edit</a>
                  <a (click)="deleteFormateur(formateur.id)" class="text-purple-800 hover:underline">Delete</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>
        <!--formateur table end-->

        <!-- student table start-->
        <section #studentTable class="min-h-[100vh] p-6">
          <div class="flex justify-center pb-8 mt-8">
            <div class="w-full bg-white p-6 rounded-lg flex justify-between items-center">
              <h1 class="text-2xl font-medium mb-1">Students</h1>
              <div class="flex justify-between">
                <div class="flex">
                  <div class="relative">
                    <input [(ngModel)]="searchForStudent" (ngModelChange)="searchStudent()" type="text"
                           class="w-64 px-4 py-2 rounded-lg border-2 border-gray-200 focus:outline-none"
                           placeholder="Search">
                    <div class="absolute top-0 right-0 mt-3 mr-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                           width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                           fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <circle cx="10" cy="10" r="7"></circle>
                        <line x1="21" y1="21" x2="15" y2="15"></line>
                      </svg>
                    </div>
                  </div>
                </div>
                <!--                <div class="flex">-->
                <!--                  <div class="relative">-->
                <!--                    <select-->
                <!--                      class="w-64 px-4 py-2 rounded-lg border-2 border-gray-200 focus:outline-none">-->
                <!--                      <option value="1">All</option>-->
                <!--                      <option value="2">Active</option>-->
                <!--                      <option value="3">Inactive</option>-->
                <!--                    </select>-->
                <!--                    <div class="absolute top-0 right-0 mt-3 mr-4">-->
                <!--                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down"-->
                <!--                           width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"-->
                <!--                           fill="none" stroke-linecap="round" stroke-linejoin="round">-->
                <!--                        <path stroke="none" d="M0 0h24v24H0z"></path>-->
                <!--                        <polyline points="6 9 12 15 18 9"></polyline>-->
                <!--                      </svg>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
          <div class='overflow-x-auto w-full'>
            <table
              class='w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden'>
              <thead class="bg-gray-900">
              <tr class="text-white text-left">
                <th class="font-semibold text-sm uppercase px-6 py-4"> First Name</th>
                <th class="font-semibold text-sm uppercase px-6 py-4"> Last Name</th>
                <th class="font-semibold text-sm uppercase px-6 py-4"> Email</th>
                <th class="font-semibold text-sm uppercase px-6 py-4"> Promo</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Phone</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Address</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> City</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> State</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Zip</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Country</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"></th>
                <th class="font-semibold text-sm uppercase px-6 py-4"></th>
              </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
              <tr *ngFor="let student of students">
                <td class="px-6 py-4">
                  <div class="flex items-center space-x-3">
                    <p class="text-gray-500 text-sm font-semibold tracking-wide"> {{student.firstName}} </p>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex items-center space-x-3">
                    <p class="text-gray-500 text-sm font-semibold tracking-wide"> {{student.lastName}} </p>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <p class=""> {{student.email}} </p>
                </td>
                <td class="px-6 py-4">
                  <ng-container *ngFor="let promo of promos">
                    <p *ngIf="promo.id == student.promo_id">{{promo.name}}</p>
                  </ng-container>
                  <p *ngIf="student.promo_id == null">Not Assigned</p>
                </td>
                <td class="px-6 py-4 text-center"><span
                  class=""> {{student.phone}} </span>
                </td>
                <td class="px-6 py-4 text-center"> {{student.address}}</td>
                <td class="px-6 py-4 text-center"> {{student.city}}</td>
                <td class="px-6 py-4 text-center"> {{student.state}}</td>
                <td class="px-6 py-4 text-center"> {{student.zip}}</td>
                <td class="px-6 py-4 text-center"> {{student.country}}</td>
                <td class="px-6 py-4 justify-center items-center flex gap-4">
                  <a (click)="prepareUpdateStudent(student.id)" class="text-purple-800 hover:underline">Edit</a>
                  <a (click)="deleteStudent(student.id)" class="text-purple-800 hover:underline">Delete</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>
        <!-- student table end-->

        <!-- promo table strat-->
        <section #promoTable class="min-h-[100vh] p-6">
          <div class="flex justify-center pb-8 mt-8">
            <div class="w-full bg-white p-6 rounded-lg flex justify-between items-center">
              <h1 class="text-2xl font-medium mb-1">Promos</h1>
              <div class="flex justify-between">
                <div class="flex">
                  <div class="relative">
                    <input [(ngModel)]="searchForPromo" (ngModelChange)="searchPromo()" type="text"
                           class="w-64 px-4 py-2 rounded-lg border-2 border-gray-200 focus:outline-none"
                           placeholder="Search">
                    <div class="absolute top-0 right-0 mt-3 mr-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                           width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                           fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <circle cx="10" cy="10" r="7"></circle>
                        <line x1="21" y1="21" x2="15" y2="15"></line>
                      </svg>
                    </div>
                  </div>
                </div>
                <!--                <div class="flex">-->
                <!--                  <div class="relative">-->
                <!--                    <select-->
                <!--                      class="w-64 px-4 py-2 rounded-lg border-2 border-gray-200 focus:outline-none">-->
                <!--                      <option value="1">All</option>-->
                <!--                      <option value="2">Active</option>-->
                <!--                      <option value="3">Inactive</option>-->
                <!--                    </select>-->
                <!--                    <div class="absolute top-0 right-0 mt-3 mr-4">-->
                <!--                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down"-->
                <!--                           width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"-->
                <!--                           fill="none" stroke-linecap="round" stroke-linejoin="round">-->
                <!--                        <path stroke="none" d="M0 0h24v24H0z"></path>-->
                <!--                        <polyline points="6 9 12 15 18 9"></polyline>-->
                <!--                      </svg>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
          <div class='overflow-x-auto w-full'>
            <table
              class='w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden'>
              <thead class="bg-gray-900">
              <tr class="text-white text-left">
                <th class="font-semibold text-sm uppercase px-6 py-4"> Name</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Year</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 "></th>
                <!--                <th class="font-semibold text-sm uppercase px-6 py-4"></th>-->
              </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
              <tr *ngFor="let promo of promos">
                <td class="px-6 py-4">
                  <p class=""> {{promo.name}} </p>
                </td>
                <td class="px-6 py-4 text-center"><span
                  class=""> {{promo.year}} </span>
                </td>
                <td class="px-6 py-4 justify-center items-center flex gap-4">
                  <a (click)="prepareUpdatePromo(promo.id)" class="text-purple-800 hover:underline">Edit</a>
                  <a (click)="deletePromo(promo.id)" class="text-purple-800 hover:underline">Delete</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>
        <!-- promo table end-->
      </div>
    </div>
  </div>
</div>

