<!-- component -->
<nav class="flex justify-between px-20 py-10 items-center bg-white h-[10vh]">
  <h1 class="text-3xl font-semibold text-gray-800 md:text-4xl">Edu<span class="text-indigo-600">Code</span></h1>
  <div class="flex items-center">
    <ul class="flex items-center space-x-6">
      <li class="font-semibold text-gray-700"><a routerLink="/">Home</a></li>
      <li *ngIf="role == 'STUDENT'" class="font-semibold text-gray-700" ><a routerLink="/student/exam">Examan</a></li>
      <li *ngIf="role == 'FORMATEUR'" class="font-semibold text-gray-700" ><a routerLink="/formateur/exam">Examan</a></li>
      <li *ngIf="role == 'STUDENT' || role == 'FORMATEUR'" class="font-semibold text-gray-700">Rendu</li>
      <li *ngIf="role == 'PLATFORM_ADMIN'" class="font-semibold text-gray-700"><a routerLink="/platform-admin">Dashboard</a></li>
      <li *ngIf="role == 'SCHOOL'" class="font-semibold text-gray-700"><a routerLink="/school">Dashboard</a></li>
      <li *ngIf="role == 'SCHOOL_ADMIN'" class="font-semibold text-gray-700"><a routerLink="/school-admin">Dashboard</a></li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>
      </li>
      <li>
        <img src="https://media.licdn.com/dms/image/C4D03AQFsS7ijS7IMkw/profile-displayphoto-shrink_800_800/0/1651305962658?e=2147483647&v=beta&t=XX-oJ0xLMQlbA_khutZiNJMn4oCxATuY8mG6RZoM2sE" alt="profil" class="h-8 w-8 rounded-full">
      </li>
    </ul>
  </div>
</nav>
