<div *ngIf="popupSchool" class="w-full h-screen bg-black fixed left-0 top-0 z-50 bg-opacity-70">
  <div id=""
       class=" overflow-x-hidden overflow-y-auto  h-modal md:h-full inset-0 z-50 flex justify-center items-center">
    <div class="w-full max-w-4xl px-4 h-full md:h-auto">
      <!-- Modal content -->
      <div class="bg-white rounded-lg shadow relative ">
        <div class="flex justify-end p-2">
          <button type="button" (click)="closePopUp()"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center "
                  data-modal-toggle="authentication-modal">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <form class="space-y-6 px-6 lg:px-8 pb-4 sm:pb-6 xl:pb-8" action="#">
          <h3 *ngIf="!update" class="text-xl font-medium text-gray-900">Create School</h3>
          <h3 *ngIf="update" class="text-xl font-medium text-gray-900">Update School</h3>
          <div>
            <label for="name" class="text-sm font-medium text-gray-900 block mb-2 ">Name</label>
            <input [(ngModel)]="schoolData.name" type="text" name="name" id="name"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="name.." required="">
          </div>
          <div>
            <label for="email" class="text-sm font-medium text-gray-900 block mb-2 ">
              email</label>
            <input [(ngModel)]="schoolData.email" type="email" name="email" id="email"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="email.." required="">
          </div>
          <div>
            <label for="password" class="text-sm font-medium text-gray-900 block mb-2 ">
              password</label>
            <input [(ngModel)]="schoolData.password" type="password" name="password" id="password"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="password.." required="">
          </div>
          <div>
            <label for="phone" class="text-sm font-medium text-gray-900 block mb-2 ">
              phone</label>
            <input [(ngModel)]="schoolData.phone" type="number" name="phone" id="phone"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="phone.." required="">
          </div>
          <div>
            <label for="address" class="text-sm font-medium text-gray-900 block mb-2 ">
              address</label>
            <input [(ngModel)]="schoolData.address" type="text" name="address" id="address"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                   placeholder="address.." required="">
          </div>
          <div class="flex gap-3">
            <div class="w-1/2">
              <label for="city" class="text-sm font-medium text-gray-900 block mb-2 ">
                city</label>
              <input [(ngModel)]="schoolData.city" type="text" name="city" id="city"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="city.." required="">
            </div>
            <div class="w-1/2">
              <label for="state" class="text-sm font-medium text-gray-900 block mb-2 ">
                state</label>
              <input [(ngModel)]="schoolData.state" type="text" name="state" id="state"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="state.." required="">
            </div>
          </div>
          <div class="flex gap-3">
            <div class="w-1/2">
              <label for="zip" class="text-sm font-medium text-gray-900 block mb-2 ">
                zip</label>
              <input [(ngModel)]="schoolData.zip" type="number" name="zip" id="zip"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="zip.." required="">
            </div>
            <div class="w-1/2">
              <label for="country" class="text-sm font-medium text-gray-900 block mb-2 ">
                country</label>
              <input [(ngModel)]="schoolData.country" type="text" name="country" id="country"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                     placeholder="country.." required="">
            </div>
          </div>

          <button *ngIf="!update" (click)="addSchool()" type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
            Add School
          </button>
          <button *ngIf="update" (click)="updateSchool()" type="submit"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- component -->

<div class="w-full h-screen flex flex-no-wrap">
  <!-- Sidebar starts -->
  <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
  <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
  <div style="min-height: 716px"
       class="w-64 absolute sm:relative bg-gray-800 shadow md:h-full flex-col justify-between hidden sm:flex">
    <div class="px-8">
      <div class="h-16 w-full flex items-center">
        <h1 class="text-3xl font-semibold pt-6 text-gray-800 md:text-4xl"><span class="text-white">EduCode</span></h1>
      </div>
      <ul class="mt-12">
        <li class="flex w-full justify-between text-gray-300 cursor-pointer items-center mb-6">
          <a routerLink="/" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <rect x="4" y="4" width="15" height="15" rx="1"></rect>
            </svg>
            <span class="text-sm ml-2">Home</span>
          </a>
          <!--              <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">5</div>-->
        </li>
        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
          <a href="#schoolsTable" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <rect x="4" y="4" width="6" height="6" rx="1"></rect>
              <rect x="14" y="4" width="6" height="6" rx="1"></rect>
              <rect x="4" y="14" width="6" height="6" rx="1"></rect>
              <rect x="14" y="14" width="6" height="6" rx="1"></rect>
            </svg>
            <span class="text-sm ml-2">Schools</span>
          </a>
          <!--              <div class="py-1 px-3 bg-gray-600 rounded text-gray-300 flex items-center justify-center text-xs">8</div>-->
        </li>
        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
          <!--             button add school-->
          <button (click)="openPopUp()" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            <span class="text-sm ml-2">Add School</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="px-8 border-t border-gray-700">
      <ul class="w-full flex items-center justify-between bg-gray-800">
        <!--           button logout-->
        <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center my-6">
          <button class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="18" height="18"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
              <path d="M16 4v7a4 4 0 0 1 -4 4h-4"></path>
            </svg>
            <span class="text-sm ml-2">Logout</span>
          </button>
        </li>

      </ul>
    </div>
  </div><!-- Sidebar ends -->
  <!-- Remove class [ h-64 ] when adding a card block -->
  <div class="bg-gray-200 py-10 w-full h-full px-10 overflow-y-auto">
    <!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
    <div class="w-full h-full rounded">
      <section id="schoolsTable">
        <div class="min-h-screen py-5">
          <!--          tite-->
          <div class="flex justify-center pb-8">
            <div class="w-full bg-white p-6 rounded-lg">
              <h1 class="text-2xl font-medium mb-1">Schools</h1>
              <div class="flex justify-between">
                <div class="flex">
                  <div class="relative">
                    <input [(ngModel)]="searchFor" (ngModelChange)="search()" type="text"
                           class="w-64 px-4 py-2 rounded-lg border-2 border-gray-200 focus:outline-none"
                           placeholder="Search">
                    <div class="absolute top-0 right-0 mt-3 mr-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                           width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                           fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <circle cx="10" cy="10" r="7"></circle>
                        <line x1="21" y1="21" x2="15" y2="15"></line>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="flex">
                  <div class="relative">
                    <select
                      class="w-64 px-4 py-2 rounded-lg border-2 border-gray-200 focus:outline-none">
                      <option value="1">All</option>
                      <option value="2">Active</option>
                      <option value="3">Inactive</option>
                    </select>
                    <div class="absolute top-0 right-0 mt-3 mr-4">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down"
                           width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                           fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='overflow-x-auto w-full'>
            <table
              class='w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden'>
              <thead class="bg-gray-900">
              <tr class="text-white text-left">
                <th class="font-semibold text-sm uppercase px-6 py-4"> Name</th>
                <th class="font-semibold text-sm uppercase px-6 py-4"> Email</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Phone</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Address</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> City</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> State</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Zip</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Country</th>
                <th class="font-semibold text-sm uppercase px-6 py-4 text-center"></th>
                <th class="font-semibold text-sm uppercase px-6 py-4"></th>
              </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
              <tr *ngFor="let school of schools">
                <td class="px-6 py-4">
                  <div class="flex items-center space-x-3">
                    <p class="text-gray-500 text-sm font-semibold tracking-wide"> {{school.name}} </p>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <p class=""> {{school.email}} </p>
                </td>
                <td class="px-6 py-4 text-center"><span
                  class=""> {{school.phone}} </span>
                </td>
                <td class="px-6 py-4 text-center"> {{school.address}}</td>
                <td class="px-6 py-4 text-center"> {{school.city}}</td>
                <td class="px-6 py-4 text-center"> {{school.state}}</td>
                <td class="px-6 py-4 text-center"> {{school.zip}}</td>
                <td class="px-6 py-4 text-center"> {{school.country}}</td>
                <td class="px-6 py-4 justify-center items-center flex gap-4">
                  <a (click)="prepareUpdate(school.id)" class="text-purple-800 hover:underline">Edit</a>
                  <a (click)="deleteSchool(school.id)" class="text-purple-800 hover:underline">Delete</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

